extends ../layout

block content
    div.container.d-flex.align-items-center.justify-content-center
        div.card.w-50
            div.card-block
                form#user-form(method='POST', action='/departments')
                    div.form-group
                        label(for='name') Name
                        input#name.form-control(name='name', type='text')
                    div.form-group
                        label(for='manager') Department Manager (Optional)
                        select#manager.form-control(name='userId')
                            option(value='None', selected) No Department Manager
                            for user in users
                                option(value=user.id)= user.name
                    div.form-group
                        button.btn.btn-primary(type='submit') Create Department