extends ../layout

block head
    script(src='//cloud.tinymce.com/stable/tinymce.min.js')


block content
    div.container.d-flex.align-items-center.justify-content-center
        div.card.w-50
            div.card-block
                form#user-form(method='POST', action='/tasks')
                    div.form-group
                        label(for='name') Name
                        input#name.form-control(name='name', type='text')
                    div.form-group
                        label(for='dueDate') Due Date 
                        input#dueDate.form-control(name='dueDate', type='date', value=new Date().toISOString().substr(0,10))
                    div.form-group
                        label(for='description') Description
                        textarea#description.form-control(name='description')
                    div.form-group
                        label(for='assigned') Assigned To
                        select#assigned.form-control(name='userId')
                            for user in users
                                option(value=user.id)= user.name
                    div.form-group
                        label(for='project') Project
                        select#project.form-control(name='projectId')
                            for project in projects
                                option(value=project.id)= project.name
                    div.form-group
                        button.btn.btn-primary(type='submit') Create

block foot
    script.
        tinymce.init({
            selector: 'textarea#description',
            plugins: 'advlist link image',
            toolbar: 'undo redo | styleselect | bold italic | bullist numlist | link image',
            menubar: false,
            statusbar: false,
            min_height: 300
        });