doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    include includes/head.jade

    block head
  body
    div.container-fluid.d-flex(style='padding: 0;')
      div.d-flex.flex-column.w-100
        nav.navbar.navbar-toggleable-md.navbar-light(style='background: #eee;')
          div.container
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle Navigation')
              span.navbar-toggler-icon
            if auth
              a.navbar-brand(href='/dashboard') Project Manager
              if user.admin
                a.nav-link(href='/departments') Departments
              a.nav-link(href='/projects') Projects
              a.nav-link(href='/users') Users
              
            else
              a.navbar-brand(href='/') Project Manager

            div#navbarNav.collapse.navbar-collapse
              ul.navbar-nav &nbsp;
              ul.navbar-nav.navbar-right.d-flex.justify-content-end
                  if auth
                    li.dropdown
                      a#dropdownMenu.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')= user.name
                      div.dropdown-menu(aria-labelledby='dropdownMenu')
                        form.form-inline.my-2.my-lg-0(method='POST', action='/auth/logout')
                          button.dropdown-item(type='submit') Logout
                    
                  else
                    li
                      a.nav-link(href='/auth/login') Login

                
        block content
        if user.admin
          div.btn-group.dropup.create-btn
            button.btn.btn-secondary.dropdown-toggle.cyan-background.light-text(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Create
            div.dropdown-menu.dropdown-menu-right
              a.dropdown-item(href='/departments/create') Department
              a.dropdown-item(href='/projects/create') Project
              a.dropdown-item(href='/tasks/create') Task
              a.dropdown-item(href='/users/create') User
              a.dropdown-item(href='/reporting') Report
     
    include includes/foot.jade
    block foot
